.container {
    height: 100%;
    width: 100%;
    box-shadow: 0 0 10px black;
    background-color: var(--container-back);
    display: flex;
    flex-direction: column;
    
}
.header {
    background-color: var(--content-back);
    margin-bottom: auto;
    height: 10%;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.main {
    display: flex;
    height: 90%;
    /* border: 1px solid yellow; */
}
.main > .section {
    background-color: var(--section-back);
    width: 20%;
}
.main > .content {
    background-color: var(--content-back);
    width: 80%;
    padding: 10px;
}

.footer {
    background-color: black;
    margin-top: auto;
    color: white;
    /* border: 1px solid green; */
}

